# torchaudio

transformers
accelerate[sagemaker]
bitsandbytes 
datasets
peft
trl
outlines
json_repair
jsonschema
sentencepiece

omegaconf

matplotlib 
tensorboard
torch-tb-profiler

# https://smdataparallel.s3.amazonaws.com/binary/pytorch/2.1.0/cu121/2024-02-04/smdistributed_dataparallel-2.1.0-cp310-cp310-linux_x86_64.whl

ipykernel

#guidance
#langchain-core 
#langchain-community
#llama-cpp-python

#ipywidgets
#jupyter

#omegaconf
#rich
#torch==2.2.1
#torchvision
# datasets
# evaluate
# matplotlib
